@import "bigSlider.css";
@import "button.css";
@import "card.css";
@import "footer.css";
@import "megaMenu.css";
@import "navMenu.css";
@import "typo.css";
@import "onboard.css";
@import "common.css";
@import "productDetails.css";
@import "cartList.css";